<div class="container">
  <div class="container border border-primary m-2 p-2 rounded">
    <form [formGroup]="formdata" (ngSubmit)="addTodo(formdata.value)">
      <div class="form-group">
        <label for="message">Message</label>
        <input
          type="text"
          class="form-control"
          name="title"
          placeholder="title"
          formControlName="title"
        />
        <input
          type="text"
          class="form-control"
          name="description"
          formControlName="description"
          placeholder="description"
        />
        <br />
        <br />
      </div>
      <input class="btn btn-primary" type="submit" value="New todo" />
    </form>
  </div>
  <p>Textbox result is: {{ userName }}</p>
  <div class="list-group" *ngFor="let todo of todoList">
    <app-todo (deleteTodo)="deleteTodo($event)" [todo]="todo"></app-todo>
  </div>
  <button class="btn btn-info" (click)="fetchAwsApp()">Fetch AWS</button>
  <p th:if="${error.length>0}">{{ error }}</p>
</div>

<router-outlet></router-outlet>
