<div class="list-group-item container text-center" *ngIf="todo">
  <div class="row">
    <p class="col">
      {{ todo.id }}
    </p>
    <p class="col">{{ todo.title }}</p>
    <p class="col">{{ todo.description }}</p>
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDisabled"
      [checked]="todo.done"
      (click)="changeDone(todo)"
    />
    <div class="col">
      <button (click)="deleteMyTodo(todo.id)" class="btn btn-danger">
        Delete
      </button>
    </div>
    <div class="col">
      <a class="btn btn-warning" title="edit" [routerLink]="['/edit', todo.id]">
        Edit
      </a>
    </div>
  </div>
</div>
